{% extends '_templates/base.njk' %}

{% block page_title %}Pirate Ships{% endblock %}

{% block content %}
<article class="container">
  <h1>Ships of the Golden Age of pirates</h1>
  <h3>Check out some of the most legendary ships in all of the seven seas! Some are real, and some just haven't been discovered yet...</h3>
  <div class="row">
    {% for ship in pirates.ships %}
    <div class="col-sm-6 col-lg-4">
      <div class="card mb-4 bg-info border-warning">
        <div class="card-body">
          <h5 class="card-title">{{ ship.ship_name }}</h5>
          <h6 class="captain">{{ ship.captain }}</h6>
          <p class="card-text">{{ ship.blurb }}</p>
          <a href="{{ ship.source }}" class="link" target="_blank">Source</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock %}